utilities/logicApp/VideoIndexer-Workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Arm-VideoIndexerGenerateAccessToken-Request": {
                "type": "Http",
                "inputs": {
                    "uri": "@concat('https://management.azure.com',parameters('VIDEO_INDEXER_ID'),'/generateAccessToken?api-version=2024-01-01')",
                    "method": "POST",
                    "body": {
                        "permissionType": "Contributor",
                        "scope": "Account"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://management.core.windows.net"
                    }
                },
                "runAfter": {
                    "Arm-StorageListServiceSas-Response": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Arm-VideoIndexerGenerateAccessToken-Response": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Arm-VideoIndexerGenerateAccessToken-Request')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "accessToken": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Arm-VideoIndexerGenerateAccessToken-Request": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Videoindexer-UploadAndIndex": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "videoindexer-v2"
                        }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent(parameters('WORKFLOWS_LOCATION_NAME'))}/Accounts/@{encodeURIComponent(parameters('VIDEO_INDEXER_ACCOUNT_ID'))}/Videos",
                    "queries": {
                        "accessToken": "@body('Arm-VideoIndexerGenerateAccessToken-Response')?['accessToken']",
                        "name": "@{concat(utcNow('yyyy-MM-dd-HH-mm-ss'),'-', triggerBody()?['name'])}",
                        "videoUrl": "@{concat('https://',parameters('STORAGE_ACCOUNT_NAME'),'.blob.core.windows.net',triggerBody()?['properties']?['blobFullPathWithContainer'],'?',body('Arm-StorageListServiceSas-Response')?['serviceSasToken'])}",
                        "callbackUrl": "@body('Arm-LogicAppListCallbackUri-Response')?['value']"
                    }
                },
                "runAfter": {
                    "Arm-LogicAppListCallbackUri-Response": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Arm-StorageListServiceSas-Request": {
                "type": "Http",
                "inputs": {
                    "uri": "@concat('https://management.azure.com/subscriptions/',parameters('STORAGE_ACCOUNT_SUBSCRIPTION_ID'),'/resourceGroups/',parameters('STORAGE_ACCOUNT_RESOURCE_GROUP_NAME'),'/providers/Microsoft.Storage/storageAccounts/',parameters('STORAGE_ACCOUNT_NAME'), '/ListServiceSas?api-version=2023-01-01')",
                    "method": "POST",
                    "body": {
                        "canonicalizedResource": "/blob/@{parameters('STORAGE_ACCOUNT_NAME')}@{triggerBody()?['properties']?['blobFullPathWithContainer']}",
                        "signedResource": "b",
                        "signedPermission": "r",
                        "signedProtocol": "https",
                        "signedExpiry": "@{getFutureTime(3, 'Hour', 'o')}"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://management.core.windows.net"
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Arm-StorageListServiceSas-Response": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Arm-StorageListServiceSas-Request')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "serviceSasToken": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Arm-StorageListServiceSas-Request": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Arm-LogicAppListCallbackUri-Request": {
                "type": "Http",
                "inputs": {
                    "uri": "@concat('https://management.azure.com',parameters('LOGIC_APP_ID'),'/hostruntime/runtime/webhooks/workflow/api/management/workflows/Callback-Workflow/triggers/HTTPTrigger/listCallbackUrl?api-version=2018-11-01')",
                    "method": "POST",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://management.core.windows.net"
                    }
                },
                "runAfter": {
                    "Arm-VideoIndexerGenerateAccessToken-Response": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Arm-LogicAppListCallbackUri-Response": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Arm-LogicAppListCallbackUri-Request')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "value": {
                                "type": "string"
                            },
                            "method": {
                                "type": "string"
                            },
                            "basePath": {
                                "type": "string"
                            },
                            "queries": {
                                "type": "object",
                                "properties": {
                                    "api-version": {
                                        "type": "string"
                                    },
                                    "sp": {
                                        "type": "string"
                                    },
                                    "sv": {
                                        "type": "string"
                                    },
                                    "sig": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Arm-LogicAppListCallbackUri-Request": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "BlobTrigger": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "path": "@concat(parameters('STORAGE_CONTAINER_NAME_RAW'),'/videos/{blobname}.{blobextension}')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "whenABlobIsAddedOrModified",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}