utilities/logicApp/VideoIndexer-Workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "BlobSASURI-BlobFile": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "@triggerBody()?['containerInfo']?['name']",
                        "blobName": "@triggerBody()?['name']",
                        "permissions": "Read",
                        "sharedAccessProtocol": "Https"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "getBlobSASUri",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {}
            },
            "Arm-VideoIndexerGenerateAccessToken-Request": {
                "type": "Http",
                "inputs": {
                    "uri": "@concat('https://management.azure.com',parameters('VIDEO_INDEXER_ID'),'/generateAccessToken?api-version=2024-01-01')",
                    "method": "POST",
                    "body": {
                        "permissionType": "Contributor",
                        "scope": "Account"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://management.core.windows.net"
                    }
                },
                "runAfter": {
                    "BlobSASURI-BlobFile": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Arm-VideoIndexerGenerateAccessToken-Response": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Arm-VideoIndexerGenerateAccessToken-Request')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "accessToken": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Arm-VideoIndexerGenerateAccessToken-Request": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Videoindexer-UploadAndIndex": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "videoindexer-v2"
                        }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent(parameters('WORKFLOWS_LOCATION_NAME'))}/Accounts/@{encodeURIComponent(parameters('VIDEO_INDEXER_ACCOUNT_ID'))}/Videos",
                    "queries": {
                        "accessToken": "@body('Arm-VideoIndexerGenerateAccessToken-Response')?['accessToken']",
                        "name": "@{concat(triggerBody()?['properties']?['blobTierLastModifiedTime'], triggerBody()?['name'])}",
                        "videoUrl": "@{body('BlobSASURI-BlobFile')?['blobUri']}"
                    }
                },
                "runAfter": {
                    "Arm-VideoIndexerGenerateAccessToken-Response": [
                        "SUCCEEDED"
                    ]
                }
            },
            "OpenAi-CreateAssisstant-Request": {
                "type": "Http",
                "inputs": {
                    "uri": "@concat(parameters('AZURE_OPENAI_ENDPOINT'),'/openai/assistants?api-version=2024-03-01-preview')",
                    "method": "POST",
                    "body": {
                        "instructions": "@{parameters('META_PROMPT')}",
                        "name": "esp1",
                        "model": "gpt-4",
                        "file_ids": [
                            "@{body('Videoindexer-UploadAndIndex')?['id']}"
                        ],
                        "tools": [
                            {
                                "type": "code_interpreter"
                            },
                            {
                                "type": "retrieval"
                            }
                        ]
                    }
                },
                "runAfter": {
                    "Videoindexer-UploadAndIndex": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "BlobTrigger": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "path": "@parameters('STORAGE_CONTAINER_NAME_RAW')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "whenABlobIsAddedOrModified",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}