utilities/logicApp/Newstag-Workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "ReadBlob-Config": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "@triggerBody()?['containerInfo']?['name']",
                        "blobName": "@triggerBody()?['name']",
                        "inferContentType": true
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "readBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {}
            },
            "ParseBlob-Config": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('ReadBlob-Config')?['content']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "language": {
                                "type": "string"
                            },
                            "shortclip": {
                                "type": "integer"
                            },
                            "newstags": {
                                "type": "integer"
                            },
                            "containerName": {
                                "type": "string"
                            },
                            "promptContentBlobName": {
                                "type": "string"
                            },
                            "artifactBlobName": {
                                "type": "string"
                            },
                            "videoIndexName": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "ReadBlob-Config": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('ParseBlob-Config')?['newstags']",
                                1
                            ]
                        }
                    ]
                },
                "actions": {
                    "AzureFunctionShortClip-NewsTagExtraction-Request": {
                        "type": "Function",
                        "inputs": {
                            "method": "POST",
                            "body": {
                                "orchestrator_workflow_name": "newstag_extraction_orchestrator",
                                "orchestrator_workflow_properties": {
                                    "content_url_videoindexer": "@{parameters('AZURE_BLOB_STORAGE_ENDPOINT')}@{body('ParseBlob-Config')?['containerName']}/@{body('ParseBlob-Config')?['videoIndexName']}"
                                }
                            },
                            "function": {
                                "connectionName": "azureFunctionOperation"
                            }
                        }
                    }
                },
                "else": {
                    "actions": {
                        "TerminateSucceeded": {
                            "type": "Terminate",
                            "inputs": {
                                "runStatus": "Succeeded"
                            }
                        }
                    }
                },
                "runAfter": {
                    "ParseBlob-Config": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "BlobTrigger": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "path": "@concat(parameters('STORAGE_CONTAINER_NAME_CURATED'), '/{name}config.json')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "whenABlobIsAddedOrModified",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}