utilities/logicApp/Callback-Workflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Arm-VideoIndexerGenerateAccessToken-Request": {
                "inputs": {
                    "authentication": {
                        "audience": "https://management.core.windows.net",
                        "type": "ManagedServiceIdentity"
                    },
                    "body": {
                        "permissionType": "Contributor",
                        "scope": "Account"
                    },
                    "method": "POST",
                    "uri": "@concat('https://management.azure.com',parameters('VIDEO_INDEXER_ID'),'/generateAccessToken?api-version=2024-01-01')"
                },
                "operationOptions": "DisableAsyncPattern",
                "runAfter": {
                    "set_VideoID": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Arm-VideoIndexerGenerateAccessToken-Response": {
                "inputs": {
                    "content": "@body('Arm-VideoIndexerGenerateAccessToken-Request')",
                    "schema": {
                        "properties": {
                            "accessToken": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Arm-VideoIndexerGenerateAccessToken-Request": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            },
            "Compose-VideoIndex": {
                "inputs": "@body('Videoindexer-GetVideoIndex')",
                "runAfter": {
                    "Videoindexer-GetVideoIndex": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Compose"
            },
            "InitializeVariable-StatusCode": {
                "inputs": {
                    "variables": [
                        {
                            "name": "statusCode",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "Videoindexer-CreatePromptContent-Request": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Until": {
                "actions": {
                    "Delay": {
                        "inputs": {
                            "interval": {
                                "count": 30,
                                "unit": "Second"
                            }
                        },
                        "type": "Wait"
                    },
                    "Videoindexer-GetPromptContent-Request": {
                        "inputs": {
                            "method": "GET",
                            "queries": {
                                "accessToken": "@{body('Arm-VideoIndexerGenerateAccessToken-Response')?['accessToken']}"
                            },
                            "uri": "@concat('https://api.videoindexer.ai/' , parameters('WORKFLOWS_LOCATION_NAME'), '/Accounts/',parameters('VIDEO_INDEXER_ACCOUNT_ID'),'/Videos/',variables('videoID'),'/PromptContent')                                                                                  "
                        },
                        "operationOptions": "DisableAsyncPattern",
                        "runAfter": {
                            "Delay": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    }
                },
                "expression": "@not(equals(variables('statusCode'),200))",
                "limit": {
                    "count": 5,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "InitializeVariable-StatusCode": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Until"
            },
            "UploadBlob-Artifact": {
                "inputs": {
                    "parameters": {
                        "blobName": "@concat(workflow()['id'], '/artifact.json')",
                        "containerName": "@parameters('STORAGE_CONTAINER_NAME_CURATED')",
                        "content": "@body('Videoindexer-GetArtifact-Request')",
                        "overrideIfExists": "true"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "Videoindexer-GetArtifact-Request": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ServiceProvider"
            },
            "UploadBlob-PromptContent": {
                "inputs": {
                    "parameters": {
                        "blobName": "@concat(workflow()['id'], '/promptcontent.json')",
                        "containerName": "@parameters('STORAGE_CONTAINER_NAME_CURATED')",
                        "content": "@body('Videoindexer-GetPromptContent-Request')",
                        "overrideIfExists": "true"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "Until": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ServiceProvider"
            },
            "UploadBlob-VideoIndex": {
                "inputs": {
                    "parameters": {
                        "blobName": "@concat(workflow()['id'], 'videoindexer.json')",
                        "containerName": "@parameters('STORAGE_CONTAINER_NAME_CURATED')",
                        "content": "@outputs('Compose-VideoIndex')",
                        "overrideIfExists": "true"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "Compose-VideoIndex": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ServiceProvider"
            },
            "Videoindexer-CreatePromptContent-Request": {
                "inputs": {
                    "method": "POST",
                    "queries": {
                        "accessToken": "@{body('Arm-VideoIndexerGenerateAccessToken-Response')?['accessToken']}"
                    },
                    "uri": "@concat('https://api.videoindexer.ai/' , parameters('WORKFLOWS_LOCATION_NAME'), '/Accounts/',parameters('VIDEO_INDEXER_ACCOUNT_ID'),'/Videos/',variables('videoID') ,'/PromptContent')"
                },
                "operationOptions": "DisableAsyncPattern",
                "runAfter": {
                    "Videoindexer-GetVideoIndex": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Videoindexer-GetArtifact-Request": {
                "inputs": {
                    "method": "GET",
                    "uri": "@body('Videoindexer-GetArtifactUrl-Request')"
                },
                "operationOptions": "DisableAsyncPattern",
                "runAfter": {
                    "Videoindexer-GetArtifactUrl-Request": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Videoindexer-GetArtifactUrl-Request": {
                "inputs": {
                    "method": "GET",
                    "queries": {
                        "accessToken": "@{body('Arm-VideoIndexerGenerateAccessToken-Response')?['accessToken']}",
                        "type": "KeyframesThumbnails"
                    },
                    "uri": "@concat('https://api.videoindexer.ai/' , parameters('WORKFLOWS_LOCATION_NAME'), '/Accounts/',parameters('VIDEO_INDEXER_ACCOUNT_ID'),'/Videos/',variables('videoID'),'/ArtifactUrl')"
                },
                "operationOptions": "DisableAsyncPattern",
                "runAfter": {
                    "Videoindexer-GetVideoIndex": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Videoindexer-GetVideoIndex": {
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "videoindexer-v2"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(parameters('WORKFLOWS_LOCATION_NAME'))}/Accounts/@{encodeURIComponent(parameters('VIDEO_INDEXER_ACCOUNT_ID'))}/Videos/@{encodeURIComponent(variables('videoID'))}/Index",
                    "queries": {
                        "accessToken": "@body('Arm-VideoIndexerGenerateAccessToken-Response')?['accessToken']",
                        "language": "English"
                    }
                },
                "operationOptions": "DisableAsyncPattern",
                "runAfter": {
                    "Arm-VideoIndexerGenerateAccessToken-Response": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ApiConnection"
            },
            "set_VideoID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "videoID",
                            "type": "string",
                            "value": "@triggerBody()?['videoId']"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "HTTPTrigger": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "videoId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}